/output/
/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
/etc/ivy/ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
archiva_credentials.xml
/.metadata/
.vscode/
/eclipse-formatter.xml
etc/launcher-configuration.ini
.gradle
build
app/bin
etc/startup/*
app/export/*
app/log/*
log/*
app/.settings/org.eclipse.buildship.core.prefs
app/.project
.vscode/*
app/.project
